@page
@model YasayanKutuphane.Pages.Admin.Kitap.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Kitap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Kitap.ID" />
            <div class="form-group">
                <label asp-for="Kitap.KategoriID" class="control-label"></label>
                <select asp-for="Kitap.KategoriID" class="form-control" asp-items="ViewBag.KategoriID"></select>
                <span asp-validation-for="Kitap.KategoriID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.DilID" class="control-label"></label>
                <select asp-for="Kitap.DilID" class="form-control" asp-items="ViewBag.DilID"></select>
                <span asp-validation-for="Kitap.DilID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.YayineviID" class="control-label"></label>
                <select asp-for="Kitap.YayineviID" class="form-control" asp-items="ViewBag.YayineviID"></select>
                <span asp-validation-for="Kitap.YayineviID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.KapakTipiID" class="control-label"></label>
                <select asp-for="Kitap.KapakTipiID" class="form-control" asp-items="ViewBag.KapakTipiID"></select>
                <span asp-validation-for="Kitap.KapakTipiID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.KitapTuruID" class="control-label"></label>
                <select asp-for="Kitap.KitapTuruID" class="form-control" asp-items="ViewBag.KitapTuruID"></select>
                <span asp-validation-for="Kitap.KitapTuruID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.Isim" class="control-label"></label>
                <input asp-for="Kitap.Isim" class="form-control" />
                <span asp-validation-for="Kitap.Isim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.Tanitim" class="control-label"></label>
                <input asp-for="Kitap.Tanitim" class="form-control" />
                <span asp-validation-for="Kitap.Tanitim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.KapakFotografi" class="control-label"></label>
                <input asp-for="Kitap.KapakFotografi" class="form-control" />
                <span asp-validation-for="Kitap.KapakFotografi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.BasimTarihi" class="control-label"></label>
                <input asp-for="Kitap.BasimTarihi" class="form-control" />
                <span asp-validation-for="Kitap.BasimTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.SayfaSayisi" class="control-label"></label>
                <input asp-for="Kitap.SayfaSayisi" class="form-control" />
                <span asp-validation-for="Kitap.SayfaSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.Puan" class="control-label"></label>
                <input asp-for="Kitap.Puan" class="form-control" />
                <span asp-validation-for="Kitap.Puan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
