@page
@model YasayanKutuphane.Pages.Admin.Yayinevi.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Sil</h1>

<h3>Bu Verileri Silmek İstediğine Emin Misin?</h3>
<div>
    <h4>Yayinevi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yayinevi.Isim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yayinevi.Isim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Yayinevi.DisplayOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Yayinevi.DisplayOrder)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Yayinevi.ID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-page="./Index" class="btn btn-dark">
            <i class="fas fa-home"></i> &nbsp;
            Geri Dön
        </a><br />
    </form>
</div>
