@page
@model YasayanKutuphane.Pages.Admin.Cevirmen.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Oluştur</h1>

<h4>Cevirmen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cevirmen.UlkeID" class="control-label"></label>
                <select asp-for="Cevirmen.UlkeID" class ="form-control" asp-items="ViewBag.UlkeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cevirmen.Isim" class="control-label"></label>
                <input asp-for="Cevirmen.Isim" class="form-control" />
                <span asp-validation-for="Cevirmen.Isim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cevirmen.Soyisim" class="control-label"></label>
                <input asp-for="Cevirmen.Soyisim" class="form-control" />
                <span asp-validation-for="Cevirmen.Soyisim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cevirmen.DogumTarihi" class="control-label"></label>
                <input asp-for="Cevirmen.DogumTarihi" class="form-control" />
                <span asp-validation-for="Cevirmen.DogumTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cevirmen.Cinsiyet" class="control-label"></label>
                <select asp-for="Cevirmen.Cinsiyet"
                        asp-items="Html.GetEnumSelectList<YasayanKutuphane.Models.CinsiyetTipi>()"
                        class="form-control">
                </select>
                <span asp-validation-for="Cevirmen.Cinsiyet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="btn btn-dark">
        <i class="fas fa-home"></i> &nbsp;
        Geri Dön
    </a><br />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
